{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/user.css') }}">

<div class=" container1 mt-5">
    <h1 class="mb-4">Questionário</h1>



    <hr>
    <form action="{{ url_for('quest.processar_respostas') }}" method="post">
        {% for pergunta, opcoes in perguntas %}
        <div class="pergunta mb-3">

            <h4><strong>{{ pergunta }}</strong></h4>

            {% for opcao in opcoes %}
            <div class="form-check alternativa forcarBold">
                <input class="form-check-input" type="radio" id="{{ opcao }}" name="{{ pergunta }}" value="{{ opcao }}">
                <label class="form-check-label forcarBold" for="{{ opcao }}">{{ opcao }}</label>
            </div>
            {% endfor %}
        </div>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}

        <button type="submit" class="btn btn-primary">Enviar Respostas</button>
    </form>
</div>
<h1 class="mb-4">
    <div id="contador">60</div>
</h1>

<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/tilt/tilt.jquery.min.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script> -->

<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/meu.js') }}"></script>

</body>

</html>

{% endblock %}