{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container container-custom mt-5">
    <div class="text-center mb-4">
        <h1 class="">Resultados do Questionário</h1>
    </div>

    <div class="">
        <table border="2" class="table tamanhoTable">
            <thead>
                <tr class=" tableCor  center">
                    <th scope="col" class="text-center thCor">Pergunta</th>
                    <th scope="col" class="text-center thCor">Sua Resposta</th>
                    <th scope="col" class="text-center thCor">Resposta Correta</th>
                    <th scope="col" class="text-center thCor">Correto?</th>
                </tr>
            </thead>

            <tbody>
                {% for resultado in resultados %}
                <tr>
                    <td class="thCor">{{ resultado[0] }}</td>
                    <td class="thCor">{{ resultado[1] }}</td>
                    <td class="thCor">{{ resultado[2] }}</td>
                    <td class="thCor">{% if resultado[3] %}Sim{% else %}Não{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    <h3 class="text-center">Total de acertos: {{ acertos }}</h3>
</div>

{% endblock %}