{% extends 'base.html' %}

{% block title %}Cadastro - Meu Website{% endblock %}

{% block content %}
    <h2>Cadastro de Usuário</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('cadastro') }}" method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.username.label }} {{ form.username }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
{% endblock %}
