body {
    background-color: rgb(184, 184, 184);
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
} */

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.logoHome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}

/* SECTION MUDANCA LOGIN */
.config {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    max-width: 100%;
    max-height: 100%;

}

.conteudo {
    position: relative;
    max-width: 60%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}

.textCenter {
    text-align: center;
}

.frase-login {}