body,
html {
    background: #797c81;
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

/* responsividade */
@media (max-width: 768px) {
    .screen-1 {
        padding: 1em;
    }

    .navbar {
        display: none;
        /* Oculta o navbar em telas menores que 769px */
    }

    .screen-1 .form-group {
        margin-bottom: 1em;
    }

    .btn {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .menu-btn {
        display: none;
        /* Oculta o botão de menu em telas maiores que 768px */
    }
}


@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: #ffffff;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #26ff00;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}

.bodyLogin {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #797c81;
    height: 90vh;
}

.input100 {
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 10px;
    padding: 0 15px;
}

.navbar1 {
    color: white;
}

/* Change the link color to #111 (black) on hover */
.navbar1 a:hover {
    background-color: #545454;
    border-radius: 10px;
}



.entrarMensagens {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.entrarMensagens li {
    list-style-type: none;
}

.logoHome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}

/* SECTION MUDANCA LOGIN */
.config {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    max-width: 100%;
    max-height: 100%;

}

.conteudo {
    position: relative;
    max-width: 60%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}

.textCenter {
    padding: 0 30px 0 68px;
}

.frase-login {}

.screen-1 {
    background: #5f6264;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 5em #3f3f44;
    gap: 1em;
}

.input-icon {
    position: relative;
}

.input-icon-field {
    padding-left: 40px;
    /* Ajuste a largura conforme necessário */
}

.input-icon i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #666666;
}

btnColor {
    color: #5f6264;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #26ff00;
}

.imgRank {
    border-radius: 10px;
    width: 50px;
}