{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha o tema</title>
</head>

<body>
    <h1>Escolha o tema para gerar o questionário:</h1>
    <form action="/quest/gerar" method="post">
        <select name="tema">
            <option value="matematica">Matemática</option>
            <option value="historia">História</option>
            <!-- Adicione mais opções de temas aqui -->
        </select>
        <button type="submit">Gerar Questionário</button>
    </form>
</body>

</html>

{% endblock %}