{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/rank.css') }}">

<div class="container mt-4">
    <div class="row justify-content-center mt-4 ">
        <!-- Primeiro colocado -->
        <div class="col-lg-4">
            <div class="card first-place">
                <div class="card-body">
                    <div class="ranks">
                        <h3 class="mb-0">Thiago Barros Gomes</h3>
                        <img class="imgRankMaster" src="{{ url_for('static', filename='images/rank/24.png')}}"
                            alt="rank master" title="Rank Master">
                    </div>
                    <h5 class="card-title">Thiago Barros Gomes</h5>
                    <p class="card-text">Pontos 230</p>
                </div>
            </div>
        </div>
        <!-- Segundo colocado -->
        <div class="col-lg-4">
            <div class="card second-place">
                <div class="card-body">
                    <div class="ranks">
                        <h3 class="mb-0">Pedro Otavio</h3>
                        <img class="imgRankSecond" src="{{ url_for('static', filename='images/rank/23.png')}}"
                            alt="rank master" title="Rank Master">
                    </div>
                    <h5 class="card-title">Thiago Barros Gomes</h5>
                    <p class="card-text">Pontos 225</p>
                </div>
            </div>
        </div>
        <!-- Terceiro colocado -->
        <div class="col-lg-4">
            <div class="card third-place">
                <div class="card-body">
                    <div class="ranks">
                        <h3 class="mb-0">Guilherme Afonso</h3>
                        <img class="imgRankTirth" src="{{ url_for('static', filename='images/rank/22.png')}}"
                            alt="rank master" title="Rank Master">
                    </div>
                    <p class="card-text">Pontos 200</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <!-- Quarto colocado -->
        <div class="col-lg-3">
            <div class="card other-place">
                <div class="card-body">
                    <h5 class="card-title">Quarto Colocado</h5>
                    <img class="imgRankAll" src="{{ url_for('static', filename='images/rank/21.png')}}"
                        alt="rank master" title="Rank Master">
                    <p class="card-text">Pontos 188</p>
                </div>
            </div>
        </div>
        <!-- Quinto colocado -->

        <div class="col-lg-3">
            <div class="card other-place">
                <div class="card-body">
                    <h5 class="card-title">Quarto Colocado</h5>
                    <img class="imgRankAll" src="{{ url_for('static', filename='images/rank/20.png')}}"
                        alt="rank master" title="Rank Master">
                    <p class="card-text">Pontos 188</p>
                </div>
            </div>
        </div>
        <!-- Sexto colocado -->
        <div class="col-lg-3">
            <div class="card other-place">
                <div class="card-body">
                    <h5 class="card-title">Quarto Colocado</h5>
                    <img class="imgRankAll" src="{{ url_for('static', filename='images/rank/19.png')}}"
                        alt="rank master" title="Rank Master">
                    <p class="card-text">Pontos 188</p>
                </div>
            </div>
        </div>
        <!-- Sétimo colocado -->
        <div class="col-lg-3">
            <div class="card other-place">
                <div class="card-body">
                    <h5 class="card-title">Quarto Colocado</h5>
                    <img class="imgRankAll" src="{{ url_for('static', filename='images/rank/18.png')}}"
                        alt="rank master" title="Rank Master">
                    <p class="card-text">Pontos 188</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}