{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/user.css') }}">

<div class="container mt-4">
    <div class="card p-4">
        <div class="mt-5 text-center">
            <h2 class="mb-0">Thiago Barros Gomes</h2>
            <span class="text-muted d-block mb-2">Araras</span>

            <div class="d-flex justify-content-between align-items-center mt-4 px-4">
                <div class="stats">
                    <h6 class="mb-0">Pontos</h6>
                    <span class="">230</span>
                </div>
                <div class="ranks">
                    <h3 class="mb-0">Ranks Adquiridos!</h3>
                    <img src="{{ url_for('static', filename='images/rank/1.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/2.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/3.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/4.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/5.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/6.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/7.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/8.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/9.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/10.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/11.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/12.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/13.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/14.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/15.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/16.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/17.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/18.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/19.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/20.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/21.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/22.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/23.png')}}" alt="rank master"
                        title="Rank Master">
                    <img src="{{ url_for('static', filename='images/rank/24.png')}}" alt="rank master"
                        title="Rank Master">

                    <!-- Adicione os outros logos de rank aqui -->
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-sm follow text-dark">Redes Sociais</button>
    </div>
</div>

{% endblock %}