{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="bodyLogin text-center">
    <div class="screen-1">
        <div class="">
            <div>
                <img class="alter" src="{{ url_for('static', filename='images/hackers5-2.png') }}" alt="LOGO">
            </div>
            <form class="validate-form" method="POST">
                {{ form.hidden_tag() }}
                <div class="" data-validate="Entre com um usuario válido!">
                    {{ form.username(class="form-control input100", placeholder="Usuário") }}
                    <span class=""></span>
                    <span class="">
                        <i class="fa " aria-hidden="true"></i>
                    </span><br>
                </div>

                <div class="" data-validate="Password is required">
                    {{ form.password(class="form-control input100", placeholder="Senha") }}
                    <span class=""></span>
                    <span class="">
                        <i class="fa fa-flight" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="" data-validate="Password is required">
                    {{ form.confirm_password(class="form-control input100", placeholder="Confirme Senha" ) }}
                    <span class=""></span>
                    <span class="">
                        <i class="fa" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="row d-flex justify-content-center align-content-center">
                    <button class="btn btn-success  btn-lg  col-3" type="submit">
                        Criar conta!
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}